name: Build

on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install
        run: npm ci

  release:
    name: Release
    needs: [build]
    if: contains(github.ref, 'tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Get Version
        id: get_tag
        run: echo "version=${TAG_REF_NAME##*/}" >> $GITHUB_OUTPUT
        env:
          TAG_REF_NAME: ${{ github.ref }}
      - name: Release GitHub Actions
        uses: technote-space/release-github-actions@v6
        with:
          BRANCH_NAME: releases/${MAJOR}
          CLEAN_TARGETS: '.gitignore,.github,*.lock,*.json'
          COMMIT_MESSAGE: 'build: release ${{ steps.get_tag.outputs.version }} via ${{ github.sha }}'

  testRelease:
    name: Test release
    needs: [build]
    if: contains(github.ref, 'tags/test/v')
    runs-on: ubuntu-latest
    steps:
      - name: Get Version
        id: get_tag
        run: echo "version=${TAG_REF_NAME##*/}" >> $GITHUB_OUTPUT
        env:
          TAG_REF_NAME: ${{ github.ref }}
      - name: Release GitHub Actions
        uses: technote-space/release-github-actions@v6
        with:
          BRANCH_NAME: releases/${MAJOR}
          TEST_TAG_PREFIX: test/
          CLEAN_TARGETS: '.gitignore,.github,*.lock,*.json'
          COMMIT_MESSAGE: 'build: release ${{ steps.get_tag.outputs.version }} via ${{ github.sha }}'
